.app {
  margin: 2rem;
}

.container_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
}

.center {
  align-self: center;
}

.alignRight {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.warning {
  color: red;
}
